body {
    font-family: 'Open Sans';
}
/* Column block */
.col-block {
    flex-wrap: wrap;
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap; */
    justify-content: space-around;
    }

/* .blocks {
    box-sizing: border-box;
    } */

.left-col-block {
    width: 50%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left: 0;
}

.right-col-block {
    width: 50%;
    position: absolute;
    right: 0;
}

@media (max-width: 600px) {
    .left-col-block {
        width: 100%;
        position: relative;
        }

    .right-col-block {
        width: 100%;
        position: relative;
        }
    }

.cover {
    padding        : 0;
    margin         : 0;
    height         : 100vh;
    vertical-align : middle;
    position       : relative;
}

/* Profile images */
section img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -1;
}

@keyframes FadeInOut {
    0% {
    opacity:1;
    }
    45% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
}

img.top {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    background-image: url(https://akahitsuji.github.io/img/testimg1.jpg);
    background-size: cover;
    background-position: center top;
}

img.bottom {
    background-image: url(https://akahitsuji.github.io/img/testimg2.jpg);
    background-size: cover;
    background-position: center top;
}

/* header */
.header-content {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    padding: 10%;
}

.header-content h1 {
    font-size: 34px;
    font-weight: 800;
    color: #fff;
    line-height: 1;
    margin: 0;
}

.header-content p {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    padding: 5px;
}

.header-content .social {
    margin: 0;
    padding: 10px;
    display: block;
}

.header-content .social li {
    display: inline-block;
    margin: 0 3px;
}

.header-content .social li a {
    display: block;
    width: 42px;
    height: 42px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border-radius: 100%;
    background: rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .0);
    }

.header-content .social li a:hover {
    border-color : #ffffff;
}

@media (max-width : 600px) {
    section img {
        z-index: 1;
    }

    .header-content {
        z-index: 2;
    }
}

/* Resume Content */
.content p {
    font-size: 14px;
    line-height: 2;
}

/* Card wrapper */
.card-wrapper {
    padding: 30px;
}

.card-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 200;
    color: #808080;
    margin-bottom: 15px;
}

.card-grey {
    background-color: #F0F0F0;
}

/* skills */
.skills-cell {
    vertical-align: top; /* Adjust if multi-line text */
    text-align: center;
    margin-bottom: 20px;
}

.skills-table img {
    display: block;
    width:50%;
    height: auto;
    z-index: 1;
    margin: auto;
    margin-top: 10px;
    position: relative;
}

.skills-caption {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 200;
    color: #808080;
    position: relative;
    display: block;
    z-index: 1;
    width: auto;
}

/* work experience */
.experience-card {
    position: relative;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.experience-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.experience-card img {
    /* position: relative; */
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.experience-card .job-title {
    padding-top: 250px;
    font-size: 24px;
    font-weight: 900;
}

.experience-card .job-workplace {
    font-size: 20px;
    font-weight: 300;
}

.experience-card .job-duration {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 5px;
}
