/* Column block */
.col-block {
    flex-wrap: wrap;
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap; */
    justify-content: space-around;
    }

/* .blocks {
    box-sizing: border-box;
    } */

.left-col-block {
    width: 50%;
    height:100%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left: 0;
    }

.right-col-block {
    width: 50%;
    position: absolute;
    right: 0;
    box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.23);
    }

@media (max-width: 600px) {
    .left-col-block {
        width: 100%;
        position: relative;
        }

    .right-col-block {
        width: 100%;
        position: relative;
        box-shadow: none;
        }
    }

/* Profile images */
section {
    display:block;
    position:relative;
}
section img {
    position:absolute;
    left:0;
    width:100%;
}

@keyframes FadeInOut {
    0% {
    opacity:1;
    }
    45% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
}

img.top {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}
