body {
    font-family: 'Open Sans';
}
/* Column block */
.col-block {
    flex-wrap: wrap;
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap; */
    justify-content: space-around;
    }

.left-col-block {
    width: 50%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left: 0;
}

.right-col-block {
    width: 50%;
    position: absolute;
    right: 0;
}

@media (max-width: 600px) {
    .left-col-block {
        width: 100%;
        position: relative;
        }

    .right-col-block {
        width: 100%;
        position: relative;
        }
    }

.cover {
    padding: 0;
    margin: 0;
    height: 100vh;
    vertical-align: middle;
    position: relative;
}

/* Profile images */
section img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -1;
}

@keyframes FadeInOut {
    0% {
    opacity:1;
    }
    45% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
}

img.top {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-direction: alternate;
    background-image: url(https://akahitsuji.github.io/img/testimg1.jpg);
    background-size: cover;
    background-position: center top;
}

img.bottom {
    background-image: url(https://akahitsuji.github.io/img/testimg2.jpg);
    background-size: cover;
    background-position: center top;
}

/* header */
.header-content {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    padding: 10%;
}

.header-content h1 {
    font-size: 34px;
    font-weight: 800;
    color: #ffffff;
    line-height: 1;
    margin: 0;
}

.header-content p {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    padding: 5px;
}

.header-content .social {
    margin: 0;
    padding: 10px;
    display: block;
}

.header-content .social li {
    display: inline-block;
    margin: 0 3px;
}

.header-content .social li a {
    display: block;
    width: 42px;
    height: 42px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border-radius: 100%;
    background: rgba(255, 255, 255, .5);
    border: 2px solid rgba(255, 255, 255, .0);
    }

.header-content .social li a:hover {
    border-color : #ffffff;
}

@media (max-width : 600px) {
    section img {
        z-index: 1;
    }

    .header-content {
        z-index: 2;
    }
}

/* Resume Content */
.content p {
    font-size: 14px;
    line-height: 2;
}

/* Card wrapper */
.card-wrapper {
    padding: 30px;
}

.card-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 200;
    color: #808080;
    margin-bottom: 15px;
}

.card-grey {
    background-color: #F0F0F0;
}

/* skills */
.skills-cell {
    vertical-align: top; /* Adjust if multi-line text */
    text-align: center;
    margin-bottom: 20px;
}

.skills-table img {
    display: block;
    width:50%;
    height: auto;
    z-index: 1;
    margin: auto;
    margin-top: 10px;
    position: relative;
}

.skills-caption {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 200;
    color: #808080;
    position: relative;
    display: block;
    z-index: 1;
    width: auto;
}

/* work experience */
.experience-card {
    position: relative;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.experience-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.experience-card img {
    /* position: relative; */
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.experience-card .job-title {
    padding-top: 250px;
    font-size: 24px;
    font-weight: 900;
}

.experience-card .job-workplace {
    font-size: 20px;
    font-weight: 300;
}

.experience-card .job-duration {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 5px;
}

.experience-card p {
    white-space: pre-line;
}

/* preloader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
}
